= form_for(@message, class: 'ui reply form', url: message_path ) do |f|
  .ui.fluid.icon.input
    = f.text_field :body
    = f.button '<i class="inverted edit icon"></i>'.html_safe, class: 'ui teal button'
