.ui.secondary.pointing.menu
  %a.active.item
    Home
  %a.item
    Messages
  %a.item
    Friends
  .ui.dropdown.item
    Drop Down
    %i.dropdown.icon
    .menu
      %a.item Chat
      %a.item About


  .right.menu
    %a.ui.item
      Logout
